<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.predic8.rcp.membrane_client.WSDLClientApplication">
         </run>
      </application>
   </extension>
   <extension
         id="MembraneClientId"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.predic8.rcp.membrane_client.application"
            name="Membrane-SOAP-Client">
         <property
               name="appName"
               value="Membrane-SOAP-Client">
         </property>
         <property
               name="aboutImage"
               value="icons/logo128.png">
         </property>
         <property
               name="aboutText"
               value="Membrane SOAP Client Version 1.2.1&#x0A;  Copyright @  2010 by predic8 GmbH&#x0A;  Moltkestr. 40  53173 Bonn Germany &#x0A;  www.predic8.com &#x0A;  Phone: +49 (0)228/555 25 76-0&#x0A;  info@predic8.de">
         </property>
         <property
               name="windowImages"
               value="icons/logo32.png">
         </property>
      </product>
   </extension>

</plugin>
