<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.predic8.plugin.membrane_client.perspectives.MembraneClientPerspective"
            id="com.predic8.plugin.membrane_client.perspectives.MembraneClientPerspective"
            name="MembraneClientPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="wsdl"
               label="WSDL">
            <command
                  commandId="newWSDL"
                  icon="icons/add_element.png"
                  label="import"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.predic8.plugin.membrane-client.toolbar">
            <command
                  commandId="newWSDL"
                  icon="icons/add_element.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.predic8.plugin.membrane_client.commands.NewWSDLCommand"
            id="newWSDL"
            name="New WSDL">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.predic8.plugin.membrane_client.views.RequestView"
            icon="icons/message_out.png"
            id="com.predic8.plugin.membrane_client.views.RequestView"
            name="Request"
            restorable="true">
      </view>
      <view
            class="com.predic8.plugin.membrane_client.views.ResponseView"
            icon="icons/message.png"
            id="com.predic8.plugin.membrane_client.views.ResponseView"
            name="Response"
            restorable="true">
      </view>
      <view
            class="com.predic8.plugin.membrane_client.views.ServiceTreeView"
            icon="icons/service_tree.png"
            id="com.predic8.plugin.membrane_client.views.ServiceTreeView"
            name="WSDLs"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.predic8.plugin.membrane_client.preferences.ProxyPreferencesPage"
            id="com.predic8.plugin.membrane_client.preferences.ProxyPreferencePage"
            name="Proxy">
      </page>
   </extension>

</plugin>
